.bg-colour {
    background-color: #FEEAE9;
}

.panda-btn-buy-now {
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}

.bg-colour h1 {
    color: #FF136F;
}

.ct-img img {
    width: 30%;
}

.bg-subscrib {
    height: 350px;
    background-color: #FEEAE9;
}